*{ margin:0; padding:0; list-style:none;}
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{
	width: 100%;
	height: 750px;
	background: #333;
	position: absolute;
	overflow: hidden;
}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:60px; height:60px; background:url(../images/l.png) no-repeat; position:absolute; top:300px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:60px; height:60px; background:url(../images/r.png) no-repeat; position:absolute; top:300px; right:10px; z-index:10;}
#playBox .smalltitle {
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 15px;
	z-index: 10
}
#playBox .smalltitle ul{ width:150px; margin:0 auto;}
#playBox .smalltitle ul li{ width:15px; height:15px; margin:0 8px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1; cursor: pointer;}
#playBox .smalltitle .thistitle{ background:#69aaec;}
